<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management: Add User</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row" th:replace="fragments/fragments :: header"></div>
    <div class="row" th:replace="fragments/fragments :: topnavigation"></div>
    <div class="row">
        <nav class="col-sm-2 text-center" th:replace="fragments/fragments :: sidenavigation"></nav>
        <div class="col-sm-10 text-left">
            <h1 class="text-center col-sm-5">ADD NEW USER FORM (RESTRICTED)</h1>
            <form action="#" th:action="@{/addUser}" th:object="${newUser}" method="post" class="col-sm-5">
                <div class="form-group">
                    <label for="username">User name: </label>
                    <input type="text" class="form-control" id="username" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label for="psw">Password: </label>
                    <input type="password" class="form-control" id="psw" th:field="*{password}" />
                </div>
                <div class="form-group">
                    <label for="psw">Repeat Password: </label>
                    <input type="password" class="form-control" id="pswRepeat" th:field="*{repeatPassword}"/>
                </div>
                <div class="form-group">
                    <label for="rolelist">Select role:</label>
                    <select class="form-control" id="rolelist" th:field="*{role}">
                        <option th:value="'ROLE_USER'">USER</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="SUBMIT" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" th:replace="fragments/fragments :: footer"></div>
</div>
</body>
</html>