<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventory Management Tool</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row" th:replace="fragments/fragments :: header"></div>
    <div class="row" th:replace="fragments/fragments :: topnavigation"></div>
    <div class="row">
        <nav class="col-sm-2 text-center" th:replace="fragments/fragments :: sidenavigation"></nav>
        <div class="col-sm-10 text-left">
            <h1>General Information</h1>
                <p>This website was developed to demonstrate my Java Developer skills. It combines both Spring and Java EE technologies: navigation between pages and forms are processed using Spring mappings,
                    and all interactions with the underlying database tables are done using Spring Data JPA and JAX-RS. Information about inventory items and users with relevant privileges is stored in the relevant tables.
                    Some pages are protected using Spring Security/Java EE technologies.</p>
                <p>
                    The following technologies were used to develop the website:
                </p>
                <p>
                <ol>
                    <li>Java 8</li>
                    <li>Spring Core</li>
                    <li>Spring MVC</li>
                    <li>Spring Data JPA</li>
                    <li>JAX-RS</li>
                    <li>Thymeleaf (pages are built using specific fragments like Apache Tiles)</li>
                    <li>Tomcat</li>
                    <li>MySQL</li>
                </ol>
                </p>
        </div>
    </div>
    <div class="row" th:replace="fragments/fragments :: footer"></div>
</div>
</body>
</html>
